snippet bk "Enter a book listing" b!
- author: "$1"
	title: "$2"
	started: `date +%Y`-${4:`date +%m`-${3:`date +%d`}}
	finished: ${5:}
	favorite: ${6:0}
	genre: "$7"
	format: "$8"
	quotes: ${9:[]}
		$0
endsnippet

snippet bq "Add a book quote" b!
- page: "$1"
	content: "$2"
$0
endsnippet

snippet bf "Fiction: <type>" w!
F: $0
endsnippet

snippet bn "Non Fiction: <type>" w!
NF: $0
endsnippet
