# Ignore vim bundles
src/vim/bundle/
src/vim/.netrwhist
src/vim/pack/

# Ignore zsh-completions project
zsh/zsh-completions/

__pycache__

# Ignore git time metric
/.gtm/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Ignore these temp dirs
x-src/
x-zsh/

# Ignore plugins, they should be downloaded per box
src/vim/plugged/
