# Ignore vim bundles
topics/vim/bundle/
topics/vim/.netrwhist
topics/vim/pack/

__pycache__

# Ignore git time metric
/.gtm/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
